.section--header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-testimonial {
  padding: 10px 15px;
  margin: 40px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desc {
  font-size: medium;
  font-weight: 600;
}
.name {
  font-size: medium;
  font-weight: 700;
}
.role {
  font-size: small;
  margin-top: 5px;
  font-weight: 400;
}
